.Tag {
	border-radius: 5px;
	background: var(--accent-color);
	display: flex;
	padding: 1px 10px;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	line-height: 24px;
	cursor: pointer;
}

.Tag:hover {
	cursor: pointer;
}
