.container {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow-x: hidden;
}

.QuestionsTable {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 1400px;
	margin: 10px 20px 0;
}

.table {
	border-radius: 30px;
	max-width: 1300px;
	background: #dedede;
	justify-content: center;
	min-height: 1000px;
	border-collapse: collapse;
	width: 100%;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.nickname {
	cursor: pointer;
}

.nickname:hover {
	opacity: 0.7;
}

.QuestionsTable th,
td {
	height: 130px;
	padding: 15px;
	width: auto;
	max-width: 500px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 24px;
	border-right: 1px solid var(--border-color);
}

.QuestionsTable th {
	height: 60px;
	font-size: 22px;
	background-color: var(--header-cell-color);
}

.tagsContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.QuestionsTable th:last-child,
td:last-child {
	border-right: none;
}

.QuestionsTable tr {
	background-color: var(--second-cell-color);
	transition: transform 0.2s ease;
}

.QuestionsTable tr:nth-child(even) {
	background-color: var(--first-cell-color);
}

.owner {
	font: inherit;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	width: 250px;
}

.trigger {
	width: 100px;
	background-color: transparent;
	height: 100px;
}

.skeleton {
	width: 100%;
	height: 100%;
}

.spinnerCont {
	display: flex;
	align-items: center;
	justify-content: center;
}
