.Navbar {
	height: var(--navbar-height);
	background-color: var(--accent-color);
}

.infoContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 40px;
	padding-top: 18px;
}

.link {
	font-size: 24px;
	font-weight: 500;
}

.dimitri {
	font-size: 28px;
	font-weight: 600;
}

.text {
	margin-left: 40px;
}
